{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Information System{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'reservation/login.css' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">

</head>

<body>
  <div>
    <div class="card mt-5 mx-auto rounded-3">
      <h2 class="card_title">Login</h2>
      {% include 'reservation/messages.html' %}
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
      </form>

      <p class="btn btn_cancel"> Don't have an account?</p><a class="norm-link" href="{% url 'register' %}">Register
        here.</a>
    </div>
    {% block body %}
    {% endblock %}
  </div>

</body>
{% block script %}
{% endblock %}
</body>

</html>