{% extends 'reservation/profile_layout.html' %}
{% load static %}


{% block title %} Bookings {% endblock %}

{% block body %}


<h2>My Bookings:</h2>
<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Bookings</li>
  </ol>
</nav>
<!-- /Breadcrumb -->
<div class="main-body" style="overflow-x: auto;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Room</th>
        <th scope="col">Check-In</th>
        <th scope="col">Check-Out</th>
        <th scope="col">Adults</th>
        <th scope="col">Kids</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for book in bookings %}
      <tr>
        <th scope="row">{{ book.client.username }}</th>
        <td>{{book.client.first_name}} {{book.client.last_name}}</td>
        <td>{{ book.room_type }} ({{ book.room_category }})</td>
        <td>{{ book.checkIn }}</td>
        <td>{{ book.checkOut }}</td>
        <td>{{ book.numAdults }}</td>
        <td>{{ book.numKids }}</td>
        <td>
          <a href="{% url 'cancel_booking' book.id %}" class="btn btn-danger">Cancel</a>
          <a href="{% url 'booking_edit' book.id %}" class="btn btn-primary">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}