{% extends 'reservation/password_layout.html' %}
{% load static %}


{% block title %} Forgot Password {% endblock %}

{% block body %}
<main id="main">
  <section class="inner-page">
    <div class="container main-content">
      <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
          </ol>
        </nav>

        <div class="container">
          <h2>Password reset complete</h2>
          <p>
            Your password has been set. You may go ahead and log in now.
          </p>
          <a href="{% url 'index' %}" class="btn btn-primary btn-block submit-btn">Login</a>
        </div>

      </div>
    </div>
  </section>
</main>

{% endblock %}

{% block script %}

<!-- Vendor JS Files -->
<script src="/static/reservation/assets/vendor/purecounter/purecounter.js"></script>
<script src="/static/reservation/assets/vendor/aos/aos.js"></script>
<script src="/static/reservation/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/reservation/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/reservation/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/reservation/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/reservation/assets/vendor/php-email-form/validate.js"></script>

<!-- <script src="static/reservation/glasgow_room.js"></script> -->
<!-- Template Main JS File -->
<script src="static/reservation/savanna_room.js"></script>
<script src="/static/reservation/assets/js/main.js"></script>

{% endblock %}