{% extends 'reservation/password_layout.html' %}
{% load static %}


{% block title %}Forgot Password{% endblock %}

{% block body %}
<main id="main">
  <section class="inner-page">
    <div class="container main-content">
      <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
          </ol>
        </nav>


        <div class="container padding-bottom-3x mb-2 mt-2">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
              <div class="forgot">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                  <li><span class="text-medium">1. </span>Enter your email address below.</li>
                  <li><span class="text-medium">2. </span>Our system will send you a temporary link</li>
                  <li><span class="text-medium">3. </span>Use the link to reset your password</li>
                </ol>
              </div>
              <form class="card mt-4" method="post">
                {% csrf_token %}
                <div class="card-body">
                  {{form}}
                  <div>
                    <small class="form-text text-muted">Enter the email address you used during the registration on
                      LaMirage.com. Then we'll email a link to this address.</small>
                  </div>
                </div>
                <div class="card-footer">
                  <input type="submit" class="btn btn-success" value="Send Email">
                  <a href="{% url 'index' %}" class="btn btn-danger" type="submit">Back to Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>

{% endblock %}

{% block script %}

<!-- Vendor JS Files -->
<script src="/static/reservation/assets/vendor/purecounter/purecounter.js"></script>
<script src="/static/reservation/assets/vendor/aos/aos.js"></script>
<script src="/static/reservation/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/reservation/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/reservation/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/reservation/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/reservation/assets/vendor/php-email-form/validate.js"></script>

<!-- <script src="static/reservation/glasgow_room.js"></script> -->
<!-- Template Main JS File -->
<script src="static/reservation/savanna_room.js"></script>
<script src="/static/reservation/assets/js/main.js"></script>

{% endblock %}