{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/reservation/assets/img/singlelogo.svg" rel="icon">
  <link href="/static/reservation/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/reservation/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/reservation/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/reservation/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/reservation/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/reservation/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/reservation/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/reservation/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Template Main CSS File -->
  <link href="/static/reservation/assets/css/style.css" rel="stylesheet">
  <link href="/static/reservation/password.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="{% url 'index' %}"><img src="/static/reservation/assets/img/singlelogobold.svg"
            alt="LOGO" style="height: 60px;" class="img-fluid"></a></h1>
      <h1 class="logo"><a href="{% url 'index' %}">La Mirage</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}">Services</a></li>
          <li class="dropdown"><a href="#"><span>Hotel Rooms</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'bozeman_room' %}">Bozeman</a></li>
              <li><a href="{% url 'glasgow_room' %}">Glasgow</a></li>
              <li><a href="{% url 'miami_room' %}">Miami</a></li>
              <li><a href="{% url 'savanna_room' %}">Savanna</a></li>
              <li><a href="{% url 'tulum_room' %}">Tulum</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}">Team</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}">Special Offers</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}">Contact</a></li>
          <li class="dropdown"><a href="#"><span>Settings</span> <i class="fa fa-cogs" style="font-size: 1em;"
                aria-hidden="true"></i></a>
            <ul>
              {% if user.is_authenticated and user.is_staff%}
              <li><a class="nav-link scrollto" href="{% url 'all_bookings' %}">Admin Page</a></li>
              <li><a class="nav-link scrollto" href="{% url 'profile_edit' user.id %}">Edit Profile</a></li>
              {% elif user.is_authenticated %}
              <li><a class="nav-link scrollto" href="{% url 'profile_edit' user.id %}">Edit Profile</a></li>
              {% endif %}

            </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="dropdown"><a href="{% url 'profile_details' user.id %}">{{ user.username }}<i
                class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 1em;"></i></a>
            <ul>
              {% if user.is_authenticated %}
              <li><a href="{% url 'my_bookings' %}">My Bookings</a></li>
              <li><a href="{% url 'profile_details' user.id %}">My Profile</a></li>
              {% endif %}
              <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          {% else %}
          <li><a type="button" data-toggle="modal" data-target="#loginModal">Login</a></li>
          <li><a href="{% url 'register' %}">Sign up</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <!-- 
      <i class='bx bx-menu menu-icon' style="font-size: 1.73em; color: blue;"></i> -->
    </div>
  </header><!-- End Header -->

  </div>
  </header><!-- End Header -->
  {% block body %}

  {% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>La Mirage</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
          Designed by <a class="scrollto" href="#team">La Mirage</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/lamirageinnandsuite/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://twitter.com/LaMirage_Inn" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/lamirage_inn/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  {% block script %}

  {% endblock %}
</body>

</html>