{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Hotel Registration{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/fontawesome-free-5.15.4-web/css/all.css" type="text/html" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'reservation/register.css' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">

</head>
<!-- Todo: 
   1. add info for my profile
   2. add image function
  or recrate all model -->

<body>
  <div>
    <div class="card mt-1 mx-auto rounded-3 shadow bg-body rounded" style="width: 50rem;">
      <div class="card-body">
        <div class="col-md-12 mt-3" align="center">
          <h2 class="card_title">Register</h2>
        </div>
        <!-- {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success" role="alert">
              {{message}}
          </div>
          {% endfor %}
          {% endif %} -->
        {% include 'reservation/messages.html' %}
        <form class="row g-3 needs-validation" action="{% url 'register' %}" method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <div class="col-sm-6  mt-3">
            <label for="validationServerUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend3">@</span>
              <input type="text" name="username" class="form-control " id="validationServerUsername"
                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" value="{{ username }}" required>
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-sm-6  mt-3">
            <label for="validationServer01" class="form-label">Email</label>
            <input type="email" name="email" class="form-control " id="validationServer01" value="{{ email }}" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-sm-6  mt-3">
            <label for="validationServer02" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="validationServer02" value="{{ password }}"
              required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-sm-6 mt-3">
            <label for="validationServer02" class="form-label">Confirmation Password</label>
            <input type="password" class="form-control" name="confirmation" id="validationServer02"
              value="{{ password }}" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-sm-4 mt-3">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" name="first_name" value="{{ first_name }}"
              required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-sm-4 mt-3">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" name="last_name" value="{{ last_name }}"
              required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-sm-4 mt-3">
            <label for="validationCustom01" class="form-label">Phone No.</label>
            <input type="text" class="form-control" id="validationCustom01" name="phone_no" value="{{ phone_no }}"
              required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-sm-4 mt-3">
            <label for="validationCustom02" class="form-label">Nationality</label>
            <input type="text" class="form-control" id="validationCustom02" name="nationality" value="{{ nationality }}"
              required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="col-sm-4 mt-3">
            <label for="validationCustom05" class="form-label">Location</label>
            <input type="text" class="form-control" id="validationCustom05" name="location" value="{{ location }}" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="col-sm-4 mt-3">
            <label for="validationCustom05" class="form-label">Role</label>
            <input type="text" class="form-control" id="validationCustom05" name="role" value="{{ role }}" required>
            <div class="invalid-feedback">
              Please provide a valid Role Ex. Student or Admin.
            </div>
          </div>

          <div class="col-sm-4 mt-3">
            <div class="form-group">
              <label for="exampleFormControlFile1">Choose Profile</label>
              <input type="file" class="form-control-file" id="profile_image" name="profile_img"> 
            </div>
          </div>

          <div class="col-12 mt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck3"
                aria-describedby="invalidCheck3Feedback" required>
              <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
              </label>
              <div id="invalidCheck3Feedback" class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>

          <div class="col-12 mt-3" align="center">
            <input class="btn btn-primary" type="submit" value="Register">
          </div>
          <div class="col-12 mt-3" align="center">
            <p class="btn btn_cancel">Already have an account? <a class="norm-link" href="{% url 'login' %}">Log In
                here.</a></p>

          </div>
        </form>

      </div>
    </div>
    {% block body %}
    {% endblock %}
  </div>

</body>
{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'reservation/app.js' %}"></script>
{% endblock %}
</body>

</html>