{% extends 'reservation/profile_layout.html' %}
{% load static %}


{% block title %} Bookings {% endblock %}

{% block body %}
<div class="mt-3 mb-2">

  <h2>My Bookings:</h2>
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My Bookings</li>
      <li class="breadcrumb-item"><a href="{% url 'my_bookings' %}">View all</a></li>
    </ol>
  </nav>
  <!-- /Breadcrumb -->
  <div class="main-body" style="overflow-x: auto;">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Room</th>
          <th scope="col">Check-In</th>
          <th scope="col">Check-Out</th>
          <th scope="col">Adults</th>
          <th scope="col">Kids</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ book.client.username }}</th>
          <td>{{book.client.first_name}} {{book.client.last_name}}</td>
          <td>{{ book.room_type }} ({{ book.room_category }})</td>
          <td>{{ book.checkIn }}</td>
          <td>{{ book.checkOut }}</td>
          <td>{{ book.numAdults }}</td>
          <td>{{ book.numKids }}</td>
          <td>
            <a href="{% url 'cancel_mybookings' book.id %}" class="btn btn-danger">Cancel</a>
            <a href="{% url 'booking_edit' book.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'view_reciept' book.id %}" class="btn btn-success">View Receipt</a>
          </td>
        </tr>

        {% if is_view %}
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

        <script type="text/javascript">
          $(document).ready(function () {
            $('#exampleModal').modal('show');
          });
        </script>
        <!-- RecieptModal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header gold">
                <h5 class="modal-title" id="exampleModalLabel">Book Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body background-logo">
                <div>
                  <p><small>Please take a screenshot of the booking details below. This will serve as your booking
                      receipt
                      and don't forget to present this form to the hotel front desk cashier. Thank you!</small></p>
                  <div>ㅤ</div>
                </div>
                <div><span class="font-weight-bold">Full Name: </span> {{book.client.first_name}}
                  {{book.client.last_name}} </div>
                <div><span class="font-weight-bold">Email: </span> {{ book.client.email }} </div>
                <div><span class="font-weight-bold">Phone Number: </span> {{ book.user_profile.phone_no }} </div>
                <div class="row">
                  <div class="col-sm">
                    <span class="font-weight-bold">Room Type: </span> {{ book.room_type }}
                  </div>
                  <div class="col-sm">
                    <span class="font-weight-bold">Room Category: </span> {{ book.room_category }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <span class="font-weight-bold"> Number of Adults: </span> {{ book.numAdults }}
                  </div>
                  <div class="col-sm">
                    <span class="font-weight-bold"> Number of Kids: </span> {{ book.numKids }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <span class="font-weight-bold">Check in: </span> {{ book.checkIn }}
                  </div>
                  <div class="col-sm">
                    <span class="font-weight-bold">Check out: </span> {{ book.checkOut }}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="col-sm">
                  {% if roomType == "Bozeman" and roomCategory == "Standard" %}
                  <span class="font-weight-bold">Total Payment: Php2199.00</span>
                  {% elif roomType == "Bozeman" and roomCategory == "Deluxe" %}
                  <span class="font-weight-bold">Total Payment: Php3199.00</span>
                  {% elif roomType == "Bozeman" and roomCategory == "Premium" %}
                  <span class="font-weight-bold">Total Payment: Php4199.00</span>

                  {% elif roomType == "Glasgow" and roomCategory == "Standard" %}
                  <span class="font-weight-bold">Total Payment: Php2999.00</span>
                  {% elif roomType == "Glasgow" and roomCategory == "Deluxe" %}
                  <span class="font-weight-bold">Total Payment: Php3999.00</span>
                  {% elif roomType == "Glasgow" and roomCategory == "Premium" %}
                  <span class="font-weight-bold">Total Payment: Php4999.00</span>

                  {% elif roomType == "Miami" and roomCategory == "Standard" %}
                  <span class="font-weight-bold">Total Payment: Php2399.00</span>
                  {% elif roomType == "Miami" and roomCategory == "Deluxe" %}
                  <span class="font-weight-bold">Total Payment: Php3399.00</span>
                  {% elif roomType == "Miami" and roomCategory == "Premium" %}
                  <span class="font-weight-bold">Total Payment: Php4399.00</span>

                  {% elif roomType == "Savanna" and roomCategory == "Standard" %}
                  <span class="font-weight-bold">Total Payment: Php2499.00</span>
                  {% elif roomType == "Savanna" and roomCategory == "Deluxe" %}
                  <span class="font-weight-bold">Total Payment: Php3499.00</span>
                  {% elif roomType == "Savanna" and roomCategory == "Premium" %}
                  <span class="font-weight-bold">Total Payment: Php4499.00</span>

                  {% elif roomType == "Tulum" and roomCategory == "Standard" %}
                  <span class="font-weight-bold">Total Payment: Php2999.00</span>
                  {% elif roomType == "Tulum" and roomCategory == "Deluxe" %}
                  <span class="font-weight-bold">Total Payment: Php3999.00</span>
                  {% elif roomType == "Tulum" and roomCategory == "Premium" %}
                  <span class="font-weight-bold">Total Payment: Php4999.00</span>

                  {% endif %}
                </div>
                <div class="col-sm-4">
                  <a type="button" class="btn gold" style="color: white;" data-bs-dismiss="modal">Confirm</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </tbody>
    </table>





  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}